<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <typeAliases>
  	<typeAlias type="com.wonsi.statrip.model.dto.UserDto" alias="UserDto"/>
  	<typeAlias type="com.wonsi.statrip.model.dto.plan.AttractionDto" alias="AttractionDto"/>
  	<typeAlias type="com.wonsi.statrip.model.dto.plan.SidoDto" alias="SidoDto"/>
  	<typeAlias type="com.wonsi.statrip.model.dto.plan.GugunDto" alias="GugunDto"/>
  </typeAliases>
  
  <mappers>
  	<mapper resource="mappers/AttractionMapper.xml"/>
    <mapper resource="mappers/user.xml"/>
      <mapper resource="mappers/plan.xml"/>
  </mappers>

</configuration>